* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}
.header img {
  width: 130px;
}
.header-right {
  display: flex;
  gap: 32px;
}
.header-right a {
  text-decoration: none;
  color: #666;
  font-family: Arial;
}

.hero-section {
  text-align: center;
}
.hero-section img {
  width: 550px;
  margin: 46px 0;
}
.hero-section h2 {
  margin-bottom: 10px;
  color: #444;
}

.hero-section p {
  margin-bottom: 40px;
  color: #666;
}

.hero-section a {
  text-decoration: none;
  background-color: #387ed1;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
}

.trust-section {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  margin-top: 100px;
}
.trust-section a {
  color: #387ed1;
  text-decoration: none;
}

.trust-right img {
  width: 550px;
}
.trust-right {
  text-align: center;
}
.product {
  margin: 40px;
}

.trust-left h2 {
  padding-bottom: 40px;
}

.trust-left h3 {
  margin-bottom: 12px;
}

.trust-left p {
  margin-bottom: 40px;
}
/*------- news channels section start ------- */
.news-channels {
  padding: 40px 0;
  text-align: center;
}
/*------- news channels section end --------- */

/* ------------ pricing section start --------- */

.price-section {
  display: flex;
  padding: 50px 80px;
  gap: 40px;
}
.price-section-left p {
  margin: 24px 0;
  width: 400px;
}

.price-section-left a {
  color: #387ed1;
  text-decoration: none;
}

.price-section-right {
  display: flex;
}

.price-section-right img {
  width: 108px;
}
.price-section-right div {
  display: flex;
}

.price-section-right div p {
  margin-top: 60px;
}

.price-section-right {
  font-size: 8px;
}
